.vscode/**
.vscode-test/**
.github/**
**/src/**
**/test/**
**/tsconfig.json
tsconfig.base.json
eslint.config.mjs
.eslintrc*
.mocharc*
esbuild.js
scripts/**
grammar/**
release/**
p4src_example/**
node_modules/**
**/*.ts
**/*.map
**/.gitignore
**/*.vsix
.editorconfig
LICENSE.md
